.ant-tabs .ant-tabs-left-bar .ant-tabs-tab{
    font-size: 0.24rem;
    margin: 0;
    padding:0.2rem 0.2rem;
}
.ant-tabs-content.ant-tabs-content-animated.ant-tabs-left-content{
    font-size: 0.25rem;
    padding:0.3rem;
    span{
        width:45%;
        display:inline-block;
        background:#eee;
        text-align: center;
        line-height: 0.56rem;
        margin-bottom: 0.3rem;
        color:#242424;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span:nth-child(2n){
        margin-right:0.3rem;
    }
    
}
.ant-tabs-tabpane-active span:nth-child(2){
    color:#ff5400 !important;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
    right: 1.51rem;
    width:5px;
}
.ant-tabs .ant-tabs-left-content{
    border-left:none;
}
.ant-tabs .ant-tabs-left-bar {
    border-right:none;
    background: #eee;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #363636;
    font-weight: 700;
    background-color: #fff;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #363636;
    font-weight: 700;
    background-color: #fff;
}
