html {
    font-size: 100px;
  }
  @media all and (max-width: 640px) {
    html {
      font-size: 100px;
    }
  }
  @media all and (max-width: 624px) {
    html {
      font-size: 97.5px;
    }
  }
  @media all and (max-width: 608px) {
    html {
      font-size: 95px;
    }
  }
  @media all and (max-width: 592px) {
    html {
      font-size: 92.5px;
    }
  }
  @media all and (max-width: 576px) {
    html {
      font-size: 90px;
    }
  }
  
  @media all and (max-width: 560px) {
    html {
      font-size: 87.5px;
    }
  }
  @media all and (max-width: 544px) {
    html {
      font-size: 85px;
    }
  }
  @media all and (max-width: 528px) {
    html {
      font-size: 82.5px;
    }
  }
  @media all and (max-width: 512px) {
    html {
      font-size: 80px;
    }
  }
  @media all and (max-width: 496px) {
    html {
      font-size: 77.5px;
    }
  }
  
  @media all and (max-width: 480px) {
    html {
      font-size: 75px;
    }
  }
  
  @media all and (max-width: 464px) {
    html {
      font-size: 72.5px;
    }
  }
  @media all and (max-width: 448px) {
    html {
      font-size: 70px;
    }
  }
  @media all and (max-width: 432px) {
    html {
      font-size: 67.5px;
    }
  }
  @media all and (max-width: 416px) {
    html {
      font-size: 65px;
    }
  }
  @media all and (max-width: 400px) {
    html {
      font-size: 62.5px;
    }
  }
  @media all and (max-width: 384px) {
    html {
      font-size: 60px;
    }
  }
  
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    font-size: 16px;
  }
  ul,
  li {
    list-style: none;
  }

  .menu{
      position: fixed;
      bottom:0;
      left:0;
      right:0;
      padding:0.06rem 0 0 0;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 0 -3px 11px rgba(0,0,0,.1);
  }
.ant-menu-item{
    width:20%;
    line-height: 0.44rem;
    font-size: 0.15rem;
    transform: scale(0.8);
    border-bottom:none !important;
    color:#ccc;
}
.menu .anticon{
    transform: scale(1.6);
    font-size: 0.3rem;
    margin-right:0;
}